/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --hue: 230;
  --sat: 70%;
  --first-color: hsl(var(--hue), var(--sat), 60%);
  --first-color-light: (var(--hue), var(--sat), 75%);
  /* hsl(var(--hue), var(--sat), 75% */
  --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --first-color-alt: hsl(var(--hue), var(--sat), 53%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --container-color: hsl(var(--hue), 8%, 16%);
  --container-color: #FFF;
  --scroll-bar-color: hsl(var(--hue), 4%, 85%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;
  /*========== Margenes ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: hsl(var(--hue), 8%, 13%);
  color: var(--text-color);
  transition: .5s;
}

h1, h2, h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
/* body.dark-theme {
  --first-color-light: hsl(var(--hue), var(--sat), 75%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 80%);
  --body-color: hsl(var(--hue), 8%, 13%);
  --container-color: hsl(var(--hue), 8%, 16%);
  --scroll-bar-color: hsl(var(--hue), 4%, 32%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 24%);
} */

/*========== Button Dark/Light ==========*/
.change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  color: var(--title-color);
  font-size: 1.8rem;
  cursor: pointer;
}

.dark-theme .footer {
  background-color: var(--container-color);
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.main {
  overflow: hidden; /* For the animations ScrollReveal */
}

/*=============== HEADER ===============*/
.header {
    width: 100%;
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: .5s;
  }
  
  /*=============== NAV ===============*/
  .nav {
    
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  @media screen and (max-width: 767px) {
    .nav__menu {
      position: fixed;
      background-color: hsl(var(--hue), 8%, 13%);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      padding: 2.5rem 0;
      width: 90%;
      top: -100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: .4s;
      border-radius: 2rem;
      z-index: var(--z-fixed);
    }
  }
  
  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
  }
  
  .nav__link, .nav__logo, .nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }
  
  .nav__toggle {
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  /* Show menu */
  .show-menu {
    top: calc(var(--header-height) + 1rem);
  }
  
  /* Active link */
  .active-link {
    position: relative;
  }
  
  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: var(--title-color);
    border-radius: 50%;
  }
  
  /* Change background header */
  .scroll-header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }

  .button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
  }
  
  .button:hover{
    background-color: var(--first-color-alt);
  }
  
  .button_icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5) !important;
    transition: .3s;
  }
  
  .button-white{
    background-color: #fff;
    color: var(--first-color);
  }
  
  .button-white:hover{
    background: #fff;
  }
  
  .button-flex{
    display: inline-flex;
    align-items: center;
  }
  
  .button-small{
    padding: .75rem 1rem;
  }
  
  .button-link{
    padding: 0;
    background: transparent;
    color: var(--first-color-alt);
  }
  
  .button-link:hover{
    background-color: transparent;
    color: var(--first-color-alt);
  }
  

/*=============== HOME ===============*/
.home {
  background-color: var(--container-colors);
  padding: 9rem 0 2rem;
  height: 100vh;
  display: grid;
}

.home__container {
  display: grid;
  align-content: center;
  row-gap: 2.5rem;
}

.home__data {
  text-align: center;
}

.home__title {
  font-size: var(--biggest-font-size);
  margin: .75rem 0;
}

.home__subtitle,
.home__description{
  color: var(--text-color-light);
}


.home__button:hover {
  box-shadow: 0 4px 12px hsla(38, 69%, 8%, .2);
}

.home__img img {
  width: 230px;
  animation: floaty 1.8s infinite alternate;
}

.home__img {
  justify-self: center;
}

.home__shadow {
  width: 130px;
  height: 24px;
  background-color: hsla(38, 21%, 19%, .16);
  margin: 0 auto;
  border-radius: 50%;
  filter: blur(7px);
  animation: shadow 1.8s infinite alternate;
}

.home__footer {
  display: flex;
  justify-content: center;
  column-gap: .5rem;
  font-size: var(--smaller-font-size);
  align-self: flex-end;
}


.home__data a{
    margin-top: 2rem;

} 

/* Animate ghost */
@keyframes floaty {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(.85, .85);
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .home {
    padding-top: 7rem;
  }
}

/* For medium devices */
@media screen and (min-width: 767px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__toggle, 
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }
  .home__data {
    text-align: initial;
  }
  .home__img img {
    width: 400px;
  }
  .home__shadow {
    width: 250px;
    height: 40px;
  }
}

@media screen and (min-width: 1048px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.7;
  }

  .home {
    height: initial;
    row-gap: 4rem;
  }
}

/* For 4K resolutions (3840 x 2160, 4096 x 2160) */
@media screen and (min-width: 3840px) {
  body {
    zoom: 3.1;
  }
}